body {
    background-color:  #ee6a6a;
    margin: 0;
}

/* No list style and displays the list inline */
li {
    list-style-type: none;
    display: block;
    font-size: 20px;
}

/* Float left make sures that the links in the navbar go beside each other */
a {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    padding: 15px;
    margin: 0px;
    float: left;
    color:  #2e4053;
}

/* vw states how much width space would the navbar take */
nav {
    width: 100vw;
    background-color: #f4d03f;
}

/* flex command shrinks the ul to prevent overflow */
ul {
    margin: 0;
    padding: 0;
    display: flex;
}

/* When the mouse pointer hovers over the link references within the list, the background color changes to a darker yellow to add effect on user experience */
li a:hover {
    background-color: #f1c40f;
}

#logo {
    max-width: 50px;
    height: auto;
    position: absolute; 
    top: 0px;
    right: 10px;
}

#navHeading {
    font-family: 'Fredoka One', cursive;
    color:  #34495e;
    display: inline;
    position: absolute;
    top: 0%;
    left: 44vw;
    font-size: 25px;
    letter-spacing: 5px;
}

/* Traditional Way of centering a div element by using the position as absoloute making sure that the element stay there permanently without it shrinking when the display becomes smaller */
#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box {
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 15px;
    border-style: groove;
    width: 700px;
    height: 450px;
    text-align: center;
}

.switchesBtn {
    float: left;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bigHeading {
    padding-top: 40px;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    color: snow;
}

hr {
    width: 200px;
}

#timer {
    font-size: 80px;
    font-family: 'Varela Round', sans-serif;
    color: snow;
}

#startBtn1, #stopBtn1, #resetBtn1 {
    width: 200px;
    float: left;
    text-transform: uppercase;
}

#optionsBtn {
    padding-left: 50px;
}

/* Box Shadow added on the bottom of the button to provide a 3d look */
button {
    font-size: large;
    font-family: 'Poppins', sans-serif;
    background-color:  white;
    color:  #c16969;
    cursor: pointer;
    border-radius: 10px;
    background-color: snow;
    box-shadow: 0 4px #999;
}

/* When the button hovers, the colors within the button inverts */
button:hover {
    background-color: #c16969;
    color: snow;
}

/* Once the button is clicked then it will provide a 3d look and seem like a 3d button with a shadow */
button:active {
    background-color: #c16969;
    box-shadow: 0 5px rgba(102, 102, 102, 0.856);
    transform: translateY(4px);
}

